<div class="columns small-10 end right_block end">
<ul class="example-orbit-content" data-orbit>
<li data-orbit-slide="headline-1">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2015/1.jpg">
    <p class="art_caption">Drawing page-- edit </p>
    <p class="art_caption">2015</p>  </div>
</li>
<li data-orbit-slide="headline-2">
  <div>
  <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2015/2.jpg">
  <p class="art_caption">Drawing page-- edit </p>
  <p class="art_caption">2015</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2015/3.jpg">
    <p class="art_caption">Drawing page-- edit </p>
    <p class="art_caption">2015</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2015/4.jpg">
    <p class="art_caption">Drawing page-- edit </p>
    <p class="art_caption">2015</p>  </div>
</li>
</ul>
</div>
