<html>
<head>
  <title>Artist: Jacob Giberson</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/foundation.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <script src="/js/vendor/modernizr.js"></script>
</head>

  <div class="container">
<body>
    <div class="row">
      <div class="column">
        <div class="block_nav"></div>
          <p class="jakegibs">JACOB GIBERSON</p>
        <div class="columns small-2 left_block">
          <li class=list_dir>Paintings:</li>
          <li class=list_sub><a href="/shows/paintings/gallery">2015</a></li>

          <li class=list_dir>Drawing:</li>
          <li class=list_sub><a href="/shows/drawings/2015">2015</a></li>

          <div class="block_mid"></div>
          <li class=list_dir><a href="/shows/about">About</a></li>
          <li class=list_dir><a href="/shows/cv">C.V.</a></li>
          <li class=list_dir><a href="/shows/contact">Contact</a></li>
        </div>

          <div class="columns small-10">
          <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <script src="/js/vendor/jquery.js"></script>
    <script src="/js/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>
  </body>
  <div class="left-footer">  --website made by Jacob Giberson--
  </div>
  <div class="right-footer">  --contact:jakegibs617@gmail.com--
  </div>
</html>
