.block_nav{
  padding-bottom: 50px;
}

.right_block {
  padding-left: 35px;
}

.list_cv {
  list-style-type: none;
  margin-left: 15px;
}

.list_dir {
  list-style-type: none;
  margin-right: 15px;
}
.list_dir a{
  text-decoration: none;
  color: #999999;
}
.jakegibs {
  font-size: 18px;
}

.page_headers {
  font-size: 20px;
  color: #999999;
}

.list_contact {
  list-style-type: none;
  margin-left: 15px;
}

.contact_headers2{
  font-size: 15px;
  color: #888888;
}

.block_mid{
  padding-top: 30px;
}
.list_sub {
  list-style-type: none;
  margin-left: 10px;
}
.list_sub a{
  text-decoration: none;
  color: #999999;
}
.art_caption{
  text-align: right;
  font-size: 12px;
  margin-bottom: -5px;
}
