.block_nav{
  padding-bottom: 50px;
}

.right_block {
  /*padding-left: 35px;*/
  padding-left:  2em;
}

.list_cv {
  list-style-type: none;
  margin-left:  1em;
}

.list_dir {
  list-style-type: none;
  margin-right: 15px;
}
.list_dir a{
  text-decoration: none;
  color: #999999;
}
.jakegibs {
  font-size: 1.1em;
}

.page_headers {
  font-size:  1.1em;
  color: black;
}

.list_contact {
  list-style-type: none;
  margin-left: 15px;
  color
}

.contact_headers2{
  font-size:  .9em;
  color: #888888;
}

.block_mid{
  padding-top: 30px;
}
.list_sub {
  list-style-type: none;
  margin-left: 10px;
}
.list_sub a{
  text-decoration: none;
  color: #999999;
}
.art_caption{
  text-align: left;
  font-size: .8em;
  margin-bottom: -.1em;
}

.left-footer{
  text-align: left;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em; /* choose any height */
  font-size: .7em;
}
.right-footer{
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em; /* choose any height */
  font-size: .7em;
}
.contact-form{
  margin-top: 2em;
}
.color{
  background-color: #9e9e9e;
}
