<div class="columns small-10 end right_block end">
<ul class="example-orbit-content" data-orbit>
<li data-orbit-slide="headline-1">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/1.jpg">
    <p class="art_caption">Untitled, Spray Paint on Panel, 24in x 24in</p>
    <p class="art_caption">2014</p>  </div>
</li>
<li data-orbit-slide="headline-2">
  <div>
  <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/2.jpg">
  <p class="art_caption">Untitled, Spray Paint on Panel, 10in x 10in</p>
  <p class="art_caption">2014</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/3.jpg">
    <p class="art_caption">Waiting Room, Spray Paint on Panel, 24in x 24in</p>
    <p class="art_caption">2014</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/4.jpg">
    <p class="art_caption">Impression, Spray Paint on Panel, 8in x 10in</p>
    <p class="art_caption">2014</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/5.jpg">
    <p class="art_caption">Black Lines, Spray Paint on Panel, 24in x 24in</p>
    <p class="art_caption">2015</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/6.jpg">
    <p class="art_caption">Untitled, Spray Paint on Panel, 8in x 8in</p>
    <p class="art_caption">2014</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/7.jpg">
    <p class="art_caption">Scraped Surface, Spray Paint on Panel, 10in x 8in</p>
    <p class="art_caption">2014</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/8.jpg">
    <p class="art_caption">High Yella, Spray Paint on Panel, 11in x 14in</p>
    <p class="art_caption">2014</p>  </div>
</li>
<li data-orbit-slide="headline-3">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2014/9.jpg">
    <p class="art_caption">Biomimicry, Spray Paint on Panel, 9in x 12in</p>
    <p class="art_caption">2014</p>  </div>
</li>
</ul>
</div>
