<div class="columns small-10 end right_block end">
  <p>
    <img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg">
  </p>
  <h6 class="row_right_caption">Photo by Bobby Drop Tables</h6>
  <p class="row_right_caption">2015</p>
</div>
