<div class="block_nav"></div>
<p class="jakegibs">JACOB GIBERSON</p>


<div class="columns small-2 left_block">
  <li class=list_dir>Paintings:</li>
  <li class=list_sub><a href="/shows/paintings/2015">2015</a></li>

  <li class=list_dir>Drawing:</li>
  <li class=list_sub><a href="/shows/drawings/2015">2015</a></li>

  <div class="block_mid"></div>
  <li class=list_dir><a href="/shows/about">About</a></li>
  <li class=list_dir><a href="/shows/cv">C.V.</a></li>
  <li class=list_dir><a href="/shows/contact">Contact</a></li>
</div>

<div class="columns small-10 end right_block">
  <p>
    <img src="http://www.keenthemes.com/preview/metronic/theme/assets/global/plugins/jcrop/demos/demo_files/image1.jpg">
  </p>
  <h6 class="row_right_caption">Photo by Bobby Drop Tables</h6>
  <p class="row_right_caption">2015</p>
</div>
