<div class="columns small-10 end right_block end">
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2015/1.jpg">
  <div class="text-center">
    <p class="art_caption">Photo by Bobby Drop Tables</p>
    <p class="art_caption">2015</p>
</div>
</div>
