<div class="columns small-10 end right_block end">
<ul class="example-orbit-content" data-orbit>
<li data-orbit-slide="headline-1">
  <div>
    <img src="https://s3.amazonaws.com/jacobgiberson-art/paintings/2012/1.jpg">
    <p class="art_caption">Brown Brown, Latex on Canvas, 16in x 10in</p>
    <p class="art_caption">2012</p>
  </div>
</li>
</ul>
</div>
