<div class="block_nav"></div>
<p class="jakegibs">JACOB GIBERSON</p>


<div class="columns small-2 left_block">
  <li class=list_dir>Paintings:</li>
  <li class=list_sub><a href="/shows/paintings/2015">2015</a></li>

  <li class=list_dir>Drawing:</li>
  <li class=list_sub><a href="/shows/drawings/2015">2015</a></li>

  <div class="block_mid"></div>
  <li class=list_dir><a href="/shows/about">About</a></li>
  <li class=list_dir><a href="/shows/cv">C.V.</a></li>
  <li class=list_dir><a href="/shows/contact">Contact</a></li>
</div>

<div class="columns small-10 right_block end">
  <p class="page_headers">ABOUT</p>

  <p>Giberson's process is the driving force in his work. He pursues possibilities to create available chances for change at every turn while listening to the emotional origin of the body of work. These paintings become the residual leftovers of the memories in his past. </p>

  <p>Giberson was on his way home at the age of ten one day on a warm spring day when from across the street the "N-word" was shouted at him by one of his peers in a condescending manner. Giberson never saw himself as "black", so responding to this surprise incident caught him off guard. Giberson comes from a multiracial family with his father's side mostly black and his mother’s mostly white. This moment plunged him into a journey of self-discovery of his identity both perceived by society and to the self. His work acts as the residual presence of the origin memory based in an emotional perspective of the event and related events that followed. </p>

  <p>After graduating from Massachusetts College of Art and Design in May of 2013, Giberson has been developing his work out of Jamaica Plain. He currently aims to further his studies of painting by attending certain residencies as well as graduate school. </p>
  </p>
</div>
