<div class="columns small-10 right_block end">
    <p class="page_headers"> CONTACT </p>

        <li class="list_contact">EMAIL | jakegibsart@gmail.com</li>
        <li class="list_contact">PHONE | (857) 256.1204</li>

        <form method="post" action="/home" class="contact-form">
          <div class="row">
            <div class="large-4 columns">
              <label>First Name
                <input type="text" placeholder="Pablo" />
              </label>
            </div>
            <div class="large-4 columns">
              <label>Last Name
                <input type="text" placeholder="Picasso" />
              </label>
            </div>
            <div class="large-4 columns">
              <div class="row collapse">
                <label>Email</label>
                <div>
                  <input type="text" placeholder="artist@website.com" />
                </div>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="large-12 columns">
              <label>Comments
                <textarea placeholder="Please enter any comments here:"></textarea>
              </label>
            </div>
          </div>
        </form>
  <button type="submit" value="Submit" class="button color round">Submit</button>
</div>
