<div class="block_nav"></div>
<p class="jakegibs">JACOB GIBERSON</p>


<div class="columns small-2 left_block">
  <li class=list_dir>Paintings:</li>
  <li class=list_sub><a href="/shows/paintings/2015">2015</a></li>

  <li class=list_dir>Drawing:</li>
  <li class=list_sub><a href="/shows/drawings/2015">2015</a></li>

  <div class="block_mid"></div>
  <li class=list_dir><a href="/shows/about">About</a></li>
  <li class=list_dir><a href="/shows/cv">C.V.</a></li>
  <li class=list_dir><a href="/shows/contact">Contact</a></li>
</div>

<div class="columns small-10 right_block end">
    <p class="page_headers"> CONTACT </p>

        <li class="list_contact">EMAIL | jakegibsart@gmail.com</li>
        <li class="list_contact">PHONE | (857) 256.1204</li>

  <p></p>
  <p class="page_headers"> LINKS </p>

  <p></p>
  <h4 class="contact_headers2"> EMERGING ARTISTS </h4>
  <li class="list_contact">Alexander Giavis - www.alexandergiavis.com</li>
  <li class="list_contact">Rene Dongo - www.renedongo.com</li>
  <li class="list_contact">Alex Sewall - www.alexsewell.com</li>
  <li class="list_contact">Walker T Roman - www.walkertroman.com</li>
  <li class="list_contact">Nadia Westcott - www.nadiawestcott.com</li>
  <li class="list_contact">Erik Bornemann - www.erikbornemann.com</li>
  <li class="list_contact">Vanessa Varjian - www.vanessavarjian.com</li>
  <li class="list_contact">Kathrine Wildman - www.katherinewildman.com</li>


  <p></p>
  <h4 class="contact_headers2"> INSPIRATION </h4>
  <li class="list_contact">Michael E. Smith</li>
  <li class="list_contact">David Hammons</li>

</div>
