<div class="block_nav"></div>
<p class="jakegibs">JACOB GIBERSON</p>


<div class="columns small-2 left_block">
  <li class=list_dir>Paintings:</li>
  <li class=list_sub><a href="/shows/paintings/2015">2015</a></li>

  <li class=list_dir>Drawing:</li>
  <li class=list_sub><a href="/shows/drawings/2015">2015</a></li>

  <div class="block_mid"></div>
  <li class=list_dir><a href="/shows/about">About</a></li>
  <li class=list_dir><a href="/shows/cv">C.V.</a></li>
  <li class=list_dir><a href="/shows/contact">Contact</a></li>
</div>

<div class="columns small-10 end right_block">
  <p class="page_headers">  EDUCATION </p>

  <li class=list_cv>  2013 Massachusetts College of Art and Design, Bachelor of Fine Art </li>

  <p></p>
  <p class="page_headers">  SOLO EXHIBITIONS</p>

  <li class=list_cv>  2013, In Passing, MassArt 2nd Floor Kennedy Building, Boston, MA.</li>
  <li class=list_cv>  2012, Black and White, Susan Baileys Assisted Living, Boston, MA.</li>
  <li class=list_cv>  2011, Jacob Giberson, ULA Cafe, Boston, MA.</li>

  <p></p>
  <p class="page_headers">  SELECTED GROUP EXHIBITIONS</p>

  <li class=list_cv>  2015, Mass Art Auction, Paine and Bakalar Gallery, Boston, MA.</li>
  <li class=list_cv>  2014, Community Art Show, The Mission Gallery, Boston, MA.</li>
  <li class=list_cv>  2014, Mass Art Auction, Paine and Bakalar Gallery, Boston, MA.</li>
  <li class=list_cv>  2013, Moving on Forward, MassArt North Crackatorium, Boston, MA.</li>
  <li class=list_cv>  2013, Student Art Exhibition, Secretary of Education Office, Boston, MA.</li>
  <li class=list_cv>  2013, Senior Show, Paine Gallery, Mass Art, Boston MA.</li>
  <li class=list_cv>  2012, Boston Artists LinkedIn Exhibit, North River Gallery, Pembroke, MA.</li>
  <li class=list_cv>  2012, Right Side Up, Godine Gallery, Boston, MA.</li>
  <li class=list_cv>  2012, Beautiful Struggle, LAP Gallery, Waltham, MA.</li>
  <li class=list_cv>  2011, Roxbury Open Studios, MassArt, Boston, MA.</li>
  <li class=list_cv>  2011, Alumni Show, Urbano Gallery, Boston, MA.</li>

  <p></p>
  <p class="page_headers">  AWARDS & RECOGNITIONS</p>
  <li class=list_cv>  2012, Recipient of Benjamin A. Gilman International Scholarship</li>
  <li class=list_cv>  2012, Juror for All School Show, Massachusetts College of Art and Design</li>
  <li class=list_cv>  2012, Recipient of Longwood Society Scholarship</li>

</div>
