<p class="page_headers"> LINKS </p>

<p></p>
<h4 class="contact_headers2"> EMERGING ARTISTS </h4>
<li class="list_contact">Alexander Giavis <a href="http://www.alexandergiavis.com">www.alexandergiavis.com</a></li>
<li class="list_contact">Rene Dongo <a href="http://www.renedongo.com">www.renedongo.com</a></li>
<li class="list_contact">Alex Sewall <a href="http://www.alexsewell.com">www.alexsewell.com</a></li>
<li class="list_contact">Walker T Roman <a href="http://www.walkertroman.com">www.walkertroman.com</a></li>
<li class="list_contact">Nadia Westcott <a href="http://www.nadiawestcott.com">www.nadiawestcott.com</a></li>
<li class="list_contact">Erik Bornemann <a href="http://www.erikbornemann.com">www.erikbornemann.com</a></li>
<li class="list_contact">Vanessa Varjian <a href="http://www.vanessavarjian.com">www.vanessavarjian.com</a></li>
<li class="list_contact">Kathrine Wildman <a href="http://www.katherinewildman.com">www.katherinewildman.com</a></li>


<p></p>
<h4 class="contact_headers2"> INSPIRATION </h4>
<li class="list_contact"><a href="http://www.kow-berlin.info/artists/michael_e_smith">Michael E. Smith</a></li>
<li class="list_contact"><a href="http://www.moma.org/collection/artists/2486">David Hammons</a></li>
