<h4 class="contact_headers2"> PROJECTS </h4>
<li class="projects"><a href="https://bat-signal-call.herokuapp.com/">Bat Signal</a></li>
<p>
<br>
Bat Signal is a prototype app which allows for someone to enter their name and phone number into our form, and then that information is saved in the cloud. When the bat symbol is clicked on the home page, a text goes out to the group which says "To the Bat mobile!" We used a trial account with Twilio to set up the text messaging capability, but due to the limits of the free trial we are unable to make the group texts work, however the framework and basic functionality are in existence. (currently the text ability is disabled, but can be reactivated with a new phone number)</p>
<p></p>
<h4 class="contact_headers2"> SOCIAL MEDIA </h4>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jakegibs617" data-format="inline"></script>
