<h4 class="contact_headers2"> PROJECTS </h4>
<p>Follow me on GitHub</p>
<li><a href="https://github.com/jakegibs617">GitHub: /jakegibs617</a></li>


<li class="projects"><a href="https://live-events.herokuapp.com/">Live Events</a></li>
<br>
<p>Live Events allows a user to see a list of events and where they are located with the Google Maps API. A user can then see who of their friends plan on attending each event. A user can achieve badges as the user becomes more active in the app. The app is built with Ruby on Rails using a PostgreSQL database. I used a Foundation and Sass front end with some JavaScript and AJAX functionality. Hosted the app on Heroku.</p>
<br>
<p>Unfortunately, I keep in touch with less than 1% of all my friends on Facebook. I want to be able to see a list of events, and whom of my friends plan to go to each event, so that I can choose whether to attend the event and have a real social interaction.</p>
<hr>

<li class="projects"><a href="https://season-survey.herokuapp.com/">Season Survey</a></li>
<br>
<p>Season Survey is a one-stop-shop for winter food, fun, and fashion. This Rails application was created using TDD, pair programming, and Git workflow. Season Survey employs AJAX to allow user voting, Action Mailer for email notifications, and CarrierWave for image uploads. As Bostonians who were worried about wicked winter weathah, we wanted a web application that would provide reviews of winter gear. To stay optimistic, we also offer reviews of winter fun and food.</p>
<hr>

<li class="projects"><a href="https://bat-signal-call.herokuapp.com/">Bat Signal</a></li>
<br>
<p>Bat Signal is a prototype app which allows for someone to enter their name and phone number into our form, and then that information is saved in the cloud. When the bat symbol is clicked on the home page, a text goes out to the group which says "To the Bat mobile!" We used a trial account with Twilio to set up the text messaging capability, but due to the limits of the free trial we are unable to make the group texts work, however the framework and basic functionality are in existence. (currently the text ability is disabled, but can be reactivated with a new phone number)</p>

<h4 class="contact_headers2"> SOCIAL MEDIA </h4>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/jakegibs617" data-format="inline"></script>
